main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

section {
	height: 50%;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 240px;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 3rem;
	margin-bottom: 20px;
}

.contador {
	font-size: 4rem;
	font-variant-numeric: tabular-nums;
}
